@charset "UTF-8";
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

header {
  background-color: #579c87;
  text-align: center;
  padding: 20px;
}
header img {
  width: 40%;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main img {
  width: 80%;
  margin: 20px 0 20px 0;
}

.block_menu:hover img:not(:hover) {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.75;
}

.block_menu img {
  box-shadow: 1px 1px 12px #afaeae;
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transform: scale(1);
  transition: transform 600ms;
}
.block_menu img:hover {
  transform: scale(1.15);
  opacity: 0.7;
}

.btn {
  margin-bottom: 250px;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  line-height: 50px;
  text-align: center;
  font-size: 15px;
  background-color: #579c87;
  color: #fdcb46;
}
.btn__accueil {
  margin-top: 20px;
  transition: transform 450ms, background-color 300ms 150ms;
}
.btn__accueil:hover {
  transform: scale(1.13);
  color: black;
  background-color: #fdcb46;
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #579c87;
}
footer a {
  color: #fdcb46;
  text-decoration: none;
  margin-right: 50px;
}
footer a:hover {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
  animation-iteration-count: infinite;
}
@keyframes headshake {
  25% {
    transform: translateX(4%);
  }
  75% {
    transform: translateX(-4%);
  }
}

/* menu */
.menu {
  font-family: Bradley Hand, cursive;
  box-shadow: 1px 1px 12px #afaeae;
}
.menu__LNE {
  background-color: #fcdfdb;
}
.menu__LCALF {
  background-color: #fff5fe;
  font-family: Times, Times New Roman, serif;
}
.menu__LDDP {
  background-color: #f9f9f9;
}
.menu__LPDG {
  background-color: #fdfffd;
}
.menu .LCAFF--entrée {
  color: #c67412;
}
.menu .LCAFF--plat {
  color: #a56799;
}
.menu .LCAFF--dessert {
  color: #6e4ccc;
}

.mirror {
  transform: scaleX(-1);
}

ul {
  text-align: justify;
  padding-right: 15px;
}

li {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
li .leftlignemenu {
  margin-right: 40px;
  hyphens: auto;
}

.titre-menu {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.titre-menu img {
  width: 20%;
  height: 20px;
  padding-top: 15px;
}

h2 {
  text-decoration: none;
  background: linear-gradient(to top, #579c87 0%, #579c87 10%, transparent 10%) no-repeat left bottom/0 100%;
  transition: background-size 1s;
}
h2 :hover {
  background-size: 100% 100%;
}

:hover {
  background-size: 100% 100%;
}

@media (min-width: 600px) {
  main {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media (min-width: 720px) {
  main {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 25px;
  }
  main img {
    width: 80%;
  }

  .menu__index {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  header {
    padding: 10px;
  }
  header img {
    width: 20%;
  }

  .logo-menu {
    width: 40%;
  }

  .titre-menu img {
    width: 30%;
    height: 30px;
    padding-top: 10px;
  }
}

/*# sourceMappingURL=style.scss.map */
