$primary-color:#579c87;
$secondary-color:#fdcb46;
$secondary-color-contour:#cc9c17;


@mixin shadow-menu {
    box-shadow: 1px 1px 12px rgb(175, 174, 174);
}
@mixin shadow-text {
    text-shadow:0 1px 0 $secondary-color-contour, 0 -1px 0 $secondary-color-contour;
}


body {
    position: relative;
    margin: 0;
    padding: 0;  
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    
}
/*header*/

header {    
    background-color:$primary-color;
    text-align:center;
    padding: 20px;
    a {
        font-family:  Helvetica, sans-serif;
        color:$secondary-color;
        text-decoration:  none;
        font-size : 60px;
        letter-spacing: -0.06em;
        @include shadow-text;
    }
    .logo:hover {
        background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
        -webkit-background-clip: text;
        background-clip: text;
        color: $secondary-color;
        animation: reveal 3000ms ease-in-out forwards 200ms,
                   glow 2500ms linear  5 2000ms;
    }   
} 

@keyframes reveal {
    80%{
        letter-spacing: 15px;
      }
    100% {
        background-size: 200% 200%;
    }
}
@keyframes glow {
    50% {
        text-shadow: 0 0 10px #fff;
    }
}

.menu_principal {
    display: flex;  
}
 






                        
.menu_index{ 
    
        display: flex; 
        width: 38%; 
        height: 600px; 
        margin: 50px auto 50px auto; 
        opacity: 1;
        transform: scale(1);
        transition: transform 600ms;
    
    
    

    @include shadow-menu;
    &__LNE {
        background-color: #fcdfdb;
        font-family: Bradley Hand, cursive;
    }
    &__LCALF {
        background-color: #fff5fe;
        font-family: Times, Times New Roman, serif;
    }
    &__LDDP {
        background-color: #f9f9f9,
    }
    &__LPDG {
        background-color: #fdfffd,
    }
    a  { 
        margin: auto; 
        text-align: center; 
        text-decoration: none;
    }
    &:hover > a{
        transform: scale(1.6);
        opacity: .7;
            
    }   
   
  } 

  
main {
    display:flex;
    flex-direction: column;
    text-align: center;
    img{
        width:80%; 
        margin:20px 0 20px 0;   
    }
    
}
 
.btn {
    margin: 0 auto 100px auto; 
    border-radius: 10px;
    width:250px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    background-color:$primary-color;
    color:$secondary-color;
    @include shadow-text;
    &__accueil{
        margin-top: 20px;
        transition: transform 450ms, background-color 300ms 150ms;
        &:hover {
            transform: scale(1.13);
            color:black;
            background-color: $secondary-color;
        }
    }
}

@keyframes blink {
    
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

.saving {
    p{
        text-align: center;
        font-size:20px;
        margin-top: -10px;
        margin-bottom: -5px;
        padding-left: 20px;
        
    }
    
    
    span {


    font-size:50px;
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
}
.saving span:nth-child(2) {
    
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    
    animation-delay: .4s;
}
.saving span:nth-child(4) {
    
    animation-delay: .8s;
}



$shake-intensity: 4%;
 footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom:0;
    width:100%;
    padding:20px;
    background-color:$primary-color;
     a{
        color:$secondary-color;
        text-decoration: none;
        margin-right: 50px;
        &:hover{
            animation: headshake 100ms cubic-bezier(.4,.1,.6,.9);
            animation-iteration-count: infinite;
        }  
     }
     @keyframes headshake {
        25% {
            // entièrement à droite
            transform: translateX($shake-intensity);
        }
        75% {
            // entièrement à gauche
            transform: translateX($shake-intensity * -1);
        }
    }
 }

/* menu */


/* menu */
.menu {
    font-family: Bradley Hand, cursive;
    box-shadow: 1px 1px 12px #afaeae;
  }
  .menu__LNE {
    background-color: #fcdfdb;
  }
  .menu__LCALF {
    background-color: #fff5fe;
    font-family: Times, Times New Roman, serif;
  }
  .menu__LDDP {
    background-color: #f9f9f9;
  }
  .menu__LPDG {
    background-color: #fdfffd;
  }
  .menu .LCAFF--entrée {
    color: #c67412;
  }
  .menu .LCAFF--plat {
    color: #a56799;
  }
  .menu .LCAFF--dessert {
    color: #6e4ccc;
  }
  
  .mirror {
    transform: scaleX(-1);
  }
  
  ul {
    text-align: justify;
    padding-right: 15px;
  }
  
  li {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  li .leftlignemenu {
    margin-right: 40px;
    hyphens: auto;
  }
  
  .titre-menu {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
  .titre-menu img {
    width: 20%;
    height: 20px;
    padding-top: 15px;
  }
  
  h2 {
    text-decoration: none;
    background: linear-gradient(to top, #579c87 0%, #579c87 10%, transparent 10%) no-repeat left bottom/0 100%;
    transition: background-size 1s;
  }
  h2 :hover {
    background-size: 100% 100%;
  }
  
  :hover {
    background-size: 100% 100%;
  }
 
@media (min-width:600px){
    main{
        margin-left: 50px;
        margin-right: 50px;
    }

}



@media (min-width:720px) {
    main{
        margin-left: 150px;
        margin-right: 150px;
        font-size: 25px;
        img{
            width:80%;
        }
    }

    .menu__index {
        display:flex;
        flex-wrap:nowrap ;
        justify-content: space-between;
    }

    header {
        padding: 10px;
        img {
            width: 20%;
        }
    }
    .logo-menu {
        width:40%;
    }
    .titre-menu {
        
        img {
        width:30%; 
        height: 30px;
        padding-top: 10px;   
        }  
    } 
}
