$primary-color:#579c87;
$secondary-color:#fdcb46;

body{
    font-family: Helvetica, sans-serif;
}

header{
    background-color:$primary-color;
    text-align:center;
    padding: 20px;
    margin: -10px -10px 20px -10px;
    img{
        width: 40%;
    }
}

main {
    display:flex;
    flex-direction: column;
    text-align: center;
    img{
        width:80%; 
        margin-bottom: 20px;  
    }
}

footer{
    display: flex;
    justify-content: space-between;
    margin:30px -10px -10px -10px;
    padding:20px;
    background-color:$primary-color;
     a {
        color:$secondary-color;
        text-decoration: none;
      }

}

.btn {
    display: inline-block;
    margin: auto ; 
    border-radius: 10px;
    width:150px;
    line-height:50px;
    text-align:middle;
    font-size: 15px;
    background-color:$primary-color;
    color:$secondary-color;
}

/* menu */


.menu {
    font-family: Bradley Hand, cursive;
    box-shadow:5px 2px 2px 1px rgb(206, 204, 204);
    &.menu__LNE {
        background-color: #fcdfdb;
    }
    &.menu__LCALF{
        background-color: #fff5fe;
    }
    &.menu__LDDP{
        background-color: #f9f9f9,
    }
    &.menu__LPDG{
        background-color: #fdfffd,
    }
    h2{
        display:flex;
        justify-content: space-between;
        color:black;
        font-size: 20px;
        img{
            width:20%; 
            height:20px;
            padding-top: 5px;    
        }  
    }
}

.mirror {
    transform: scaleX(-1);;
}
    
ul {
    text-align: justify;
    padding-right: 15px;
    li{
        display:flex;
        flex-wrap:nowrap ;
        justify-content: space-between;
        .leftlignemenu{
            margin-right: 40px;
            hyphens: auto;
        }
    }
}


