$primary-color:#579c87;


header{
    background-color:$primary-color;
    text-align:center;
    padding: 20px;
    margin: -10px;
    img{
        width: 40%;
    }
}

main {
    display:flex;
    flex-direction: column;
    text-align: center;
    img{
        width:70%;
        margin-top:50px;
    }
}

footer{
    background-color:$primary-color;
}

.btn {
    display: inline-block;
    margin: auto ;
    margin-top:20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width:150px;
    line-height:50px;
    text-align:middle;
    background-color:$primary-color;
    color:yellow;
    &:hover {
        background:blue;
    }
}