<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Ohmyfood</title>
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">

        <meta name="description"  content="reservation pour restaurant">
        <meta name="author"       content="Cedric GEORGE">
        <meta name="copyright"    content="MIT">

        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header>
            <a href="../index.html"><img  src="../images/logo_Ohmyfood.png" alt="logo Ohmyfood"/></a>    
        </header>
        <main>
            <h1>La palette du goût</h1>
            
            <h2>Esquisse</h2>
            <ul>
                <li>Fricassée d'escargot au piment d'espelette 60€</li>
                <li>Oeuf au plat assaisonné à la truffe sur lit de caviar 55€</li>
                <li>Foie gras de canard mi-cuit et ses copaux de truffe noire</li>
            </ul>
            
            <h2> Oeuvre de maître</h2>
            <ul>
                <li>Filet de boeuf aux herbes accompagné de sa ribambelle de légumes 70€</li>
                <li>Parmentier de queue de boeuf à la truffe noire sur sa purée de panais 85€</li>
                <li>Filet de turbo aux agrumes 125€</li>
            </ul>
            <h2>Au sommet de l'art</h2>
            <ul>
                <li>Paris-Brest revisité</li>
                <li>Macaron au chocolat d'exception et glace à la vanille de Madagascar 65€</li>
                <li>Mousse au chocolat au piment d'espelette et à la truffe noire 60€</li>
            </ul>
        </main>
        <footer>
            <a href="mentions_legales.html">Mentions Légales</a>
            <a  href="mailto:george.cedric@hotmail.com" title="Si vous voulez nous écrire">Contactez-nous</a>
        </footer>

    </body>
</html>