<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Ohmyfood</title>
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">

        <meta name="description"  content="reservation pour restaurant">
        <meta name="author"       content="Cedric GEORGE">
        <meta name="copyright"    content="MIT">

        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header>
            <a href="../index.html"><img  src="../images/logo_Ohmyfood.png" alt="logo Ohmyfood"/></a>   
        </header>
        <main>
            <h1>Le délice des papilles</h1>
            
            <h2>Pour bien commencer</h2>
            <ul>
                <li>Tartare de thon assaisonné au yuzu 55€</li>
                <li>Bouchée de homard croustillant et sa farandole de petits légumes 89€</li>
                <li>Velouté de cèpes aux truffes</li>
            </ul>
            
            <h2>Pour bien continuer </h2>
            <ul>
                <li>Poulet rôti aux herbes de provence et sa crème de truffe 110€</li>
                <li>Langouste rôtie et ses légumes de saison 225€</li>
                <li>Côte de boeuf angus et sa purée de panais 115€</li>
            </ul>
            <h2>Pour bien terminer</h2>
            <ul>
                <li>Farandole de desserts du chef 55€</li>
                <li>Crème brulée revisitée 60€</li>
                <li>Tiramisu à la noisette 55€</li>
            </ul>
        </main>
        <footer>
            <a href="mentions_legales.html">Mentions Légales</a>
            <a  href="mailto:george.cedric@hotmail.com" title="Si vous voulez nous écrire">Contactez-nous</a>
        </footer>

    </body>
</html>