<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Ohmyfood</title>
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">

        <meta name="description"  content="reservation pour restaurant">
        <meta name="author"       content="Cedric GEORGE">
        <meta name="copyright"    content="MIT">

        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header>
            <a href="../index.html"><img  src="../images/logo_Ohmyfood.png" alt="logo Ohmyfood"/></a>
        </header>
        
        <main>
            <h1>La note enchantée</h1>
            <section class="menu menu__LNE">
                <figure><img  src="../images/logo_la_note_enchante.png" alt="logo La note enchantée"/></figure>
                <h2><img  src="../images/traitmenuLNE.png"/>Prélude<img class="mirror" src="../images/traitmenuLNE.png"/></h2>
                <ul>
                    <li><p class="leftlignemenu"> Ravioles de foie gras accompagnés de leur crème à la truffe</p> <p>98€</p></li>
                    <li><p class="leftlignemenu">Caviar osciètre sur blini de blè noir</p> <p>115€</p></li>
                    <li><p class="leftlignemenu">Homard et espuma de potiron mariné aux zests d'orange</p> <p>89€</p></li>
                    <li><p class="leftlignemenu">Foie gras de canard cuit entier, confiture de figue et pain toasté</p> <p>105€</p></li>
                </ul>
                <h2><img  src="../images/traitmenuLNE.png"/> Point d'orgue<img class="mirror" src="../images/traitmenuLNE.png"/></h2>
                <ul>
                    <li><p class="leftlignemenu">Noix de coquilles Saint-Jacques sur lit de purée de céleri-rave</p> <p>102€</p></li>
                    <li><p class="leftlignemenu">Langoustine poêlée, purée de patate douce</p> <p>205€</p></li>
                    <li><p class="leftlignemenu">Mijotée de queue de boeuf et riz saouvage aux zests de citron</p> <p>169€</p></li>
                </ul>
                <h2><img  src="../images/traitmenuLNE.png"/> Mouvement final<img class="mirror" src="../images/traitmenuLNE.png"/></h2>
                <ul>
                    <li><p class="leftlignemenu">Macaron noisette et chocolat, glace au caramel brun et sel de Guérande</p></li>
                    <li><p class="leftlignemenu">Baba au rhum revisité avec son coulis de citron</p></li>
                    <li><p class="leftlignemenu">Tarte au citron meringuée destructurée</p></li>
                </ul>
                <img  src="../images/logo_la_note_enchante2.png" alt="logo La note enchantée"/>
        </section>
        
        <footer>
            <a href="mentions_legales.html">Mentions Légales</a>
            <a  href="mailto:george.cedric@hotmail.com" title="Si vous voulez nous écrire">Contactez-nous</a>
        </footer>

    </body>
</html>