<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Ohmyfood</title>
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">

        <meta name="description"  content="reservation pour restaurant">
        <meta name="author"       content="Cedric GEORGE">
        <meta name="copyright"    content="MIT">

        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header>
            <a href="../index.html"><img  src="../images/logo_Ohmyfood.png" alt="logo Ohmyfood"/></a>  
        </header>
        <main>
            <h1>Le chic à la française</h1>
            <section class="menu menu__LCALF">
                <figure><img  src="../images/logo_le_chic_a_la_francaise.png" alt="logo Le chic à la française"/></figure>
                <section class="LCAFF--entrée">
                    <h2><img  src="../images/trait_menu_LCALF_entree.png" alt="trait décoration"/>Pour se mettre en appétit<img class="mirror" src="../images/trait_menu_LCALF_entree.png" alt="trait décoration"/></h2>
                    <ul>
                        <li><p class="leftlignemenu">Tartare de poulpe aux zests d'orange</p> <p>79€</p></li>
                        <li><p class="leftlignemenu">velouté de légumes d'antan</p> <p>57€</p></li>
                        <li><p class="leftlignemenu">Soupe à l'oignon revisitée</p> <p>57€</p></li>
                    </ul>
                </section>
                <section class="LCAFF--plat">
                    <h2><img  src="../images/trait_menu_LCALF_plat.png" alt="trait décoration"/>Plaisir des papilles<img class="mirror" src="../images/trait_menu_LCALF_plat.png" alt="trait décoration"/></h2>
                    <ul>
                        <li><p class="leftlignemenu">Coquilles Saint-Jacques accompagnées d'une purée de panais</p> <p>95€</p></li>
                        <li><p class="leftlignemenu">Magret de canard et parmentier de pommes de terre</p> <p>88€</p></li>
                        <li><p class="leftlignemenu">Pigeonneau d'ILLe et Vilaine sur son lit de gnocchis aux légumes</p> <p>175€</p></li>
                    </ul>
                </section>
                <section class="LCAFF--dessert">
                    <h2><img  src="../images/trait_menu_LCALF_dessert.png" alt="trait décoration"/>Gourmandises sucrées<img class="mirror" src="../images/trait_menu_LCALF_dessert.png" alt="trait décoration"/></h2>
                    <ul>
                        <li><p class="leftlignemenu">Pétales de violettes glacés et purée de noisettes</p></li>
                        <li><p class="leftlignemenu">Fondant au chocolat revisité</p></li>
                        <li><p class="leftlignemenu">Millefeuille croustillant</p></li>
                    </ul>
                </section>
            </section>
            <a href="../index.html"><button class="btn btn__accueil" type="button">retour à l'accueil</button></a>
        </main>
        <footer>
            <a href="mentions_legales.html">Mentions Légales</a>
            <a  href="mailto:george.cedric@hotmail.com" title="Si vous voulez nous écrire">Contactez-nous</a>
        </footer>

    </body>
</html>