<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Ohmyfood</title>
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">

        <meta name="description"  content="reservation pour restaurant">
        <meta name="author"       content="Cedric GEORGE">
        <meta name="copyright"    content="MIT">

        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header>
            <a href="../index.html" class="logo" >ohmyfood</a>   
        </header>
        <main>
            <h1>Le délice des papilles</h1>
            <section class="menu menu__LDDP">
                <figure><img  class="logo-menu" src="../images/logo_le_delice_des_papilles.png" alt="logo Le délice des papilles"/></figure>
                <section class= "titre-menu">
                    <img  src="../images/trait_menu_LDDP_entree.png" alt="trait décoration"/>
                    <h2>Pour bien commencer </h2>
                    <img class="mirror" src="../images/trait_menu_LDDP_entree.png" alt="trait décoration"/>
                 </section>   
            <ul>
                <li><p class="leftlignemenu">Tartare de thon assaisonné au yuzu</p> <p>55€</p> </li>
                <li><p class="leftlignemenu">Bouchée de homard croustillant et sa farandole de petits légumes</p> <p>89€</p> </li>
                <li><p class="leftlignemenu">Velouté de cèpes aux truffes</p> <p>56€</p></li>
            </ul>
            <section class= "titre-menu">
                <img  src="../images/trait_menu_LDDP_plat.png" alt="trait décoration"/>
                <h2>Pour bien continuer </h2>
                <img class="mirror" src="../images/trait_menu_LDDP_plat.png" alt="trait décoration"/>
             </section> 
            
            <ul>
                <li><p class="leftlignemenu">Poulet rôti aux herbes de provence et sa crème de truffe</p> <p>110€</p> </li>
                    <li><p class="leftlignemenu">Langouste rôtie et ses légumes de saison </p> <p>225€</p></li>
                        <li><p class="leftlignemenu">Côte de boeuf angus et sa purée de panais </p> <p>115€</p></li>
            </ul>
            <section class= "titre-menu">
                <img  src="../images/trait_menu_LDDP_dessert.png" alt="trait décoration"/>
                <h2>Pour bien terminer </h2>
                <img class="mirror" src="../images/trait_menu_LDDP_dessert.png" alt="trait décoration"/>
             </section> 
            
            <ul>
                <li><p class="leftlignemenu">Farandole de desserts du chef</p> <p>55€</p> </li>
                <li><p class="leftlignemenu">Crème brulée revisitée</p> <p>60€</p></li>
                <li><p class="leftlignemenu">Tiramisu à la noisette</p> <p>55€</p> </li>
            </ul>
        </section>
        <a href="../index.html"><button class="btn btn__accueil" type="button">retour à l'accueil</button></a>
        </main>
        <footer>
            <a href="mentions_legales.html">Mentions Légales</a>
            <a  href="mailto:george.cedric@hotmail.com" title="Si vous voulez nous écrire">Contactez-nous</a>
        </footer>

    </body>
</html>